apiVersion: apps/v1
kind: Deployment
metadata:
  name: notify-redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notify-redis
  template:
    metadata:
      labels:
        app: notify-redis
    spec:
      containers:
        - name: notify-redis
          image: redis
